
*{
    text-decoration: none;
}
body{
    font-family: sans-serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.988);
}
main{
    display:grid;
    max-width: 1200px;
    margin:0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
main a div{
    color:white;
    font-weight: bold;
    font-size: 20px;
    padding-top:50px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0);
    border:1px solid rgba(255, 255, 255, 0.6);
    height:80px;
    backdrop-filter: blur(3px);
    transition: all 0.5s ease-out;
}
main a div:hover{
backdrop-filter: blur(5px);
transform: scale(1.1);
box-shadow: 0 0 35px var(--clr);
transition: all 0.5s ease-in;
color:var(--clr)
}

.dbms{
    background-image: url('bg2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.git{
    background-image: url('bg4.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.sql{
    background-image: url('bg3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.sql .def{
    backdrop-filter: blur(5px);
    color: rgb(115, 249, 246);
    font-size: 16px;
    font-weight: 100px;
}
.sql .list{
    color: rgb(140, 255, 253);
    font-size: 16px;
    font-weight: 100px;
}
.sql h1{
    color: rgb(140, 255, 253);
}
.key{
    background-image: url('bg5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color:rgb(84, 56, 102);
}
.key .list{
    backdrop-filter: blur(3px);
}
.key .list ul{
    color:rgb(84, 56, 102);
}
.key .def{
    width:70%;
    float:right;
    background-color:rgba(255, 255, 255, 0.2);
    border:1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    padding:10px;
    font-size: 14px;
    backdrop-filter: blur(3px);
}

.main{
    background-image: url('bgmain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.list{
    width:25%;
    float:left;
    background-color:rgba(255, 255, 255, 0.2);
    border:1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    color: white;
}

.def{
    width:70%;
    float:right;
    background-color:rgba(255, 255, 255, 0.2);
    border:1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    padding:10px;
    font-size: 12px;
}

.info{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.6);
    height: 20%;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    font-size: 20px;
    backdrop-filter: blur(5px);

}
.git .def{
    float:left;
}
.xampp{
    background-image: url('bg6.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color:rgb(72, 4, 86);
}
.xampp .def{
    float:left;
    font-size: 14px;
    backdrop-filter:blur(3px);
}
.xampp .def ul{
    color:rgb(72, 4, 86);
}
.icons i{
    color:white;
    transition: all 0.5s ease-out;
    transform: scale(1.5);
    margin:10px;
    
}
.icons i:hover{
    transform: scale(2);
    box-shadow: 0 0 20px var(--clr);
    transition: all 0.5s ease-in;
}
textarea{
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
    transform: translate(-50%,-50%) scale(0.001);
    visibility: hidden;
    resize: vertical;
    width: 50%;
    transition: all 0.175s ease-in;
    box-shadow: 0 0 30px rgb(72, 4, 86);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    overflow: hidden;
}
.ans{
color: white;
background-color: rgba(0, 0, 0, 0.166);
font-weight: bold;
border: 1px solid rgba(255, 255, 255, 0.2);
height: 25px;
width: 65px;
border-radius:5px ;
transition: all 0.5s ease-out;
}
.ans:hover{
    box-shadow: 0 0 15px rgb(115, 249, 246);
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    color: rgb(115, 249, 246);
    border: 0.5px solid rgba(0, 247, 255, 0.4);
}
.c .def{
    float:left;
    width: 80%;
    margin-left: 2%;
    margin-top: 2%;
}
.c{
    background-image: url('bg.png');
}